{{#yield-styles}}
<link type="text/css" href="../../../style/css/absence.css" rel="stylesheet">
<link type="text/css" href="../../../style/css/font-awesome.min.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}
<h1 class="note title">Early Excuse Note</h1>
<div class="form-entry">
  <h3 class="label">Name</h3>
  <h3 class="info">{{{note.student}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">OSIS</h3>
  <h3 class="info">{{{note.OSIS}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Homeroom</h3>
  <h3 class="info">{{{note.homeroom}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Date of Excuse</h3>
  <h3 class="info">{{{note.formatted_date}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Time of Submission</h3>
  <h3 class="info">{{{note.current_time}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Time of Excuse</h3>
  <h3 class="info">{{{note.exiting_time}}}</h3>
</div>


<div class="form-entry">
  <h3 class="label">Explanation</h3>
  <h3 class="info">{{{note.excuse}}}</h3>
</div>
<div class="form-entry">
  <h3 class="label">Parent</h3>
  <h3 class="info">
    {{{note.parent.email}}}
  </h3>
</div>

<h3 class="label">Classes</h3>

<table class="courses space-{{{note.approved}}}">
  <thead>
    <tr>
      <td></td>
      <td class="table-head">Teacher's Name</td>
      <td class="table-head">Course Code</td>
      <td class="table-head">Teacher Approved</td>
    </tr>
  </thead>
  <tbody>
    {{#note.schedule}}
    <tr class="table-period">
      <td>
        <label class="checkbox-label" for="{{{period}}}select">Pd. {{{Period}}}</label>
      </td>
      <td class="teacher-name">
        <div>
          {{{Teacher}}}
        </div>
      </td>
      <td class="teacher-code">
        <div>
          {{{Course Code}}}
        </div>
      </td>
      <td class="status-container">
        <i class="fa fa-{{{status}}}" aria-hidden="true"></i>
      </td>
    </tr>
    {{/note.schedule}}
  </tbody>
</table>
<h3 id="response" class="response show-{{{teacher_approved}}}"></h3>
<div class="type-box show-{{{teacher_approved}}}">
  <button id="{{{note._id}}}" class="btn submit approve">Approve</button>
  <button id="{{{note._id}}}" class="btn deny">Deny</button>
</div>
<center>
  <button onclick="event.preventDefault(); window.print();"class="btn pdf">Print/Save</button>
</center>
{{/yield-content}}

{{#yield-scripts}}
<script src="../../../lib/ajax.js"></script>
<script src="../../../lib/foreach.js"></script>
<script src="../../../js/teacher_approve.js"></script>
{{/yield-scripts}}
