{{#yield-styles}}
<link type="text/css" href="../style/css/history.css" rel="stylesheet">
<link rel="stylesheet" href="../style/css/font-awesome.min.css">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-content}}

<h1 class="note title">Pending Absences</h1>

<table class="absence-notes">
  <thead>
    <tr class="absence-header">
      <th>Name</th>
      <th>Date</th>
      <th>OSIS</th>
      <th>Homeroom</th>
      <th>Periods</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#absences}}
    <tr class="tablerow">
      <td class="tablelink">
        <a href="/admin/{{{kind}}}/{{{_id}}}">{{{student}}}</a>
      </td>
      <td class="tablelink">
        {{{formatted_date}}}
      </td>
      <td class="tablelink">
        {{{OSIS}}}
      </td>
      <td class="tablelink">
        {{{homeroom}}}
      </td>
      <td class="tablelink">
        {{#schedule}}{{{Period}}}&nbsp  {{/schedule}}
      </td>
      <td class="options">
        <i id="{{{_id}}}" class="fa fa-check-circle-o approve" aria-hidden="true"></i>
        <i id="{{{_id}}}" class="fa fa-times-circle-o deny" aria-hidden="true"></i>
      </td>
    </tr>
    {{/absences}}
  </tbody>
</table>


{{/yield-content}}

{{#yield-scripts}}
<script src="../../lib/ajax.js"></script>
<script src="../../lib/foreach.js"></script>
<script src="../../js/history.js"></script>
<script src="../../js/admin_approve.js"></script>
{{/yield-scripts}}
