{{#yield-styles}}
<link type="text/css" href="../style/css/history.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}

<h1 class="note title">History</h1>

<table class="absence-notes">
  <thead>
    <tr class="absence-header">
      <th>Student</th>
      <th>Date</th>
      <th>Homeroom</th>
      <th>Type</th>
      <th>Periods</th>
    </tr>
  </thead>
  <tbody>
    {{#notes}}
    <tr class="tablerow">
      <td class="tablelink">
        <a href="/admin/{{{kind}}}/{{{_id}}}">{{{student}}}</a>
      </td>
      <td class="tablelink">
        {{{formatted_date}}}
      </td>
      <td class="tablelink">
        {{{homeroom}}}
      </td>
      <td class="tablelink">
        {{{kind}}}
      </td>
      <td class="tablelink">
        {{#schedule}}{{{Period}}}&nbsp  {{/schedule}}
      </td>
    </tr>
    {{/notes}}
  </tbody>
</table>

{{/yield-content}}

{{#yield-scripts}}
<script src="../../lib/foreach.js"></script>
<script src="../../js/history.js"></script>
{{/yield-scripts}}
