{{#yield-styles}}
<link type="text/css" href="../style/css/history.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}

<h1 class="note title">Students</h1>

<table class="absence-notes">
  <thead>
    <tr class="absence-header">
      <th>Name</th>
      <th>OSIS</th>
      <th>Homeroom</th>
      <th>Parent Name</th>
      <th>Parent Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tablerow">
      <td class="tablelink">
        <a href="#">Kevin Yan</a>
      </td>
      <td class="tablelink">
        205440076
      </td>
      <td class="tablelink">
        7XX
      </td>
      <td class="tablelink">
        Chang Zhao Xu
      </td>
      <td class="tablelink">
        347-742-4204
      </td>
    </tr>
  </tbody>
</table>

{{/yield-content}}

{{#yield-scripts}}
<script src="../../js/history.js"></script>
{{/yield-scripts}}
