{{#yield-styles}}
<link type="text/css" href="../../style/css/absence.css" rel="stylesheet">
<link type="text/css" href="../../style/css/pikaday.css" rel="stylesheet">
<link rel="stylesheet" href="../../style/css/font-awesome.min.css">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}

<form id="form-main" class="absence-form">
  <h1 class="note title">Absence Note</h1>
  <a href="#error"></a>
  <h2 id="error" class="error"></h2>
  <div class="form-entry">
    <h3 class="label">Type</h3>
    <div id="master-box" class="type-box master-options">
      <button id="excused" class="excusemestopreading btn">Excused</button>
      <button id="correction" class="excusemestopreading btn">Correction</button>
    </div>
    <div id="correction-box" class="type-box correction-options">
      <button id="absence-correction" class="excusemestopreading btn final">Absence</button>
      <button id="lateness-correction" class="excusemestopreading btn">Lateness</button>
      <button id="cuts" class="excusemestopreading btn">Cut</button>
    </div>
    <div id="excused-box" class="type-box excused-options">
      <button id="absence-excuse" class="excusemestopreading btn">Absence</button>
      <button id="lateness-excuse" class="excusemestopreading btn">Lateness</button>
    </div>
  </div>

  <div class="form-entry">
    <h3 class="label">Date of Absence, Lateness, or Cut</h3>
    <input id="excused-date" class="input" type="text" name="excused_date">
    <i id="calendar-button" class="fa fa-calendar" aria-hidden="true"></i>
  </div>

  <div class="form-entry">
    <h3 class="label">Explanation</h3>
    <textarea class="explanation" name="excuse"></textarea>
  </div>
  <h3 class="label">Classes</h3>
  <table class="courses">
    <thead>
      <tr>
        <td></td>
        <td class="table-head">Teacher's Name</td>
        <td class="table-head">Course Code</td>
      </tr>
    </thead>
    <tbody>
      {{#user.teachers}}
      <tr class="table-period">
        <td>
          <input id="{{{period}}}select" class="checkbox" type="checkbox" name="{{{period}}}select" checked>
          <label class="checkbox-hidden checkbox-label" for="{{{period}}}select">Pd. {{{period}}}</label>
        </td>
        <td class="teacher-name">
          <div>
            {{{name}}}
          </div>
        </td>
        <td class="teacher-code">
          <div>
            {{{course_code}}}
          </div>
        </td>
      </tr>
      {{/user.teachers}}
    </tbody>
  </table>
  <div class="type-box">
    <button id="submit" class="btn submit form-submit-ajax">Submit</button>
  </div>
</form>
{{/yield-content}}

{{#yield-scripts}}
  <script src="../../lib/foreach.js"></script>
  <script src="../../lib/ajax.js"></script>
  <script src="../../js/pikaday.js"></script>
  <script src="../../js/absence.js"></script>
{{/yield-scripts}}
