{{#yield-styles}}
<link type="text/css" href="../../style/css/absence.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-content}}
<form id="form-main">
  <h1 class="note title">Absence Note</h1>
  <div class="form-entry">
    <h3 class="label">Type</h3>
    <div class="type-box">
      <button id="lateness" class="excusemestopreading btn">Excused</button>
      <button id="correction" class="excusemestopreading btn">Correction</button>
    </div>
  </div>

  <div class="form-entry">
    <h3 class="label">Date of Absence, Lateness, or Cut</h3>
    <input class="input" type="text" name="excused_date">
  </div>

  <div class="form-entry">
    <h3 class="label">Explanation</h3>
    <textarea class="explanation" name="excuse"></textarea>
  </div>

  <h3 class="label">Classes</h3>

  <table class="courses">
    <thead>
      <tr>
        <td></td>
        <td class="table-head">Teacher's Name</td>
        <td class="table-head">Course Code</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="1select"> Pd. 1
        </td>
        <td>
          <input class="input" type="text" name="1name">
        </td>
        <td>
          <input class="input" type="text" name="1code">
        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="2select"> Pd. 2
        </td>
        <td>
          <input class="input" type="text" name="2name">
        </td>
        <td>
          <input class="input" type="text" name="2code">
        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="3select"> Pd. 3
        </td>
        <td>
          <input class="input" type="text" name="3name">
        </td>
        <td>
          <input class="input" type="text" name="3code">
        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="4select"> Pd. 4
        </td>
        <td>
          <input class="input" type="text" name="4name">
        </td>
        <td>
          <input class="input" type="text" name="4code">
        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="5select"> Pd. 5
        </td>
        <td>
          <input class="input" type="text" name="5name">
        </td>
        <td>
          <input class="input" type="text" name="5code">
        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="6select"> Pd. 6
        </td>
        <td>
          <input class="input" type="text" name="6name">
        </td>
        <td>
          <input class="input" type="text" name="6code">
        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="7select"> Pd. 7
        </td>
        <td>
          <input class="input" type="text" name="7name">
        </td>
        <td>
          <input class="input" type="text" name="7code">
        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="8select"> Pd. 8
        </td>
        <td>
          <input class="input" type="text" name="8name">
        </td>
        <td>
          <input class="input" type="text" name="8code">
        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="9select"> Pd. 9
        </td>
        <td>
          <input class="input" type="text" name="9name">
        </td>
        <td>
          <input class="input" type="text" name="9code">
        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="10select"> Pd. 10
        </td>
        <td>
          <input class="input" type="text" name="10name">
        </td>
        <td>
          <input class="input" type="text" name="10code">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="type-box">
    <button id="submit" class="btn submit form-submit-ajax">Submit</button>
    <button id="pdf" class="btn submit form-create-pdf">Print</button>
  </div>
</form>
{{/yield-content}}

{{#yield-scripts}}
<script src="../../lib/foreach.js"></script>
<script src="../../lib/ajax.js"></script>
<script src="../../js/absence.js"></script>
{{/yield-scripts}}
