{{#yield-styles}}
<link type="text/css" href="../style/css/student.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-content}}
<div class="container">
  <div class="diamond">
    <div class="row">
      <a href="/student/earlyexcuse" class="left option">
        <p class="diamond-text">Absence</p>
      </a>
      <a href="/student/absencenote" class="top option">
        <p class="diamond-text">Profile</p>
      </a>
    </div>
    <div class="row">
      <a href="#" class="bottom option">
        <p class="diamond-text">History</p>
      </a>
      <a href="#" class="right option">
        <p class="diamond-text">Early Excuse</p>
      </a>
    </div>
  </div>
</div>
{{/yield-content}}
