{{#yield-styles}}
<link type="text/css" href="./style/css/student.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-content}}
<div class="container">
  <div class="flex-container">
    <div class="row">
      <a href="#" class="option early-excuse">
        View Early Excuse Notes
      </a>
      <a href="#" class="option absence">
        View Absence Notes
      </a>
    </div>
    <div class="row">
      <a href="#" class="option pending">
        Pending Excuse Notes
      </a>
      <a href="#" class="option past">
        Summary
      </a>
    </div>
  </div>
</div>
{{/yield-content}}
