{{#yield-styles}}
<link type="text/css" href="./style/css/student.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-content}}
<div class="container">
  <div class="flex-container">
    <div class="row">
      <a href="#" class="option early-excuse">
        Early Excuse
      </a>
      <a href="#" class="option absence">
        Absence
      </a>
    </div>
    <div class="row">
      <a href="#" class="option pending">
        Pending
      </a>
      <a href="#" class="option past">
        Past
      </a>
    </div>
  </div>
</div>
{{/yield-content}}
