{{#yield-styles}}
<link type="text/css" href="../../style/css/absence.css" rel="stylesheet">
<link type="text/css" href="../../style/css/pikaday.css" rel="stylesheet">
<link rel="stylesheet" href="../../style/css/font-awesome.min.css">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}
<form id="form-main">
  <h1 class="note title">Early Excuse Note</h1>

  <div class="form-entry">
    <h3 class="label">Date of Excuse</h3>
    <input id="excused-date" class="input" type="text" name="excused_date">
    <i id="calendar-button" class="fa fa-calendar" aria-hidden="true"></i>
  </div>

  <div class="form-entry">
    <h3 class="label">Current Time</h3>
    <input class="input" type="text" name="current_time">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
  </div>

  <div class="form-entry">
    <h3 class="label">Exiting Time</h3>
    <input class="input" type="text" name="exiting_date">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
  </div>

  <div class="form-entry">
    <h3 class="label">Explanation</h3>
    <textarea class="explanation" name="excuse"></textarea>
  </div>

  <table class="courses">
    <thead>
      <tr>
        <td></td>
        <td class="table-head">Teacher's Name</td>
        <td class="table-head">Course Code</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input id="1select" class="checkbox" type="checkbox" name="1select">
          <label class="checkbox-label" for="1select">Pd. 1</label>
        </td>
        <td>
          <input class="input" type="text" name="1name">
        </td>
        <td>
          <input class="input" type="text" name="1code">
        </td>
      </tr>
      <tr>
        <td>
          <input id="2select" class="checkbox" type="checkbox" name="2select">
          <label class="checkbox-label" for="2select">Pd. 2</label>
        </td>
        <td>
          <input class="input" type="text" name="2name">
        </td>
        <td>
          <input class="input" type="text" name="2code">
        </td>
      </tr>
      <tr>
        <td>
          <input id="3select" class="checkbox" type="checkbox" name="3select">
          <label class="checkbox-label" for="3select">Pd. 3</label>
        </td>
        <td>
          <input class="input" type="text" name="3name">
        </td>
        <td>
          <input class="input" type="text" name="3code">
        </td>
      </tr>
      <tr>
        <td>
          <input id="4select" class="checkbox" type="checkbox" name="4select">
          <label class="checkbox-label" for="4select">Pd. 4</label>
        </td>
        <td>
          <input class="input" type="text" name="4name">
        </td>
        <td>
          <input class="input" type="text" name="4code">
        </td>
      </tr>
      <tr>
        <td>
          <input id="5select" class="checkbox" type="checkbox" name="5select">
          <label class="checkbox-label" for="5select">Pd. 5</label>
        </td>
        <td>
          <input class="input" type="text" name="5name">
        </td>
        <td>
          <input class="input" type="text" name="5code">
        </td>
      </tr>
      <tr>
        <td>
          <input id="6select" class="checkbox" type="checkbox" name="6select">
          <label class="checkbox-label" for="6select">Pd. 6</label>
        </td>
        <td>
          <input class="input" type="text" name="6name">
        </td>
        <td>
          <input class="input" type="text" name="6code">
        </td>
      </tr>
      <tr>
        <td>
          <input id="7select" class="checkbox" type="checkbox" name="7select">
          <label class="checkbox-label" for="7select">Pd. 7</label>
        </td>
        <td>
          <input class="input" type="text" name="7name">
        </td>
        <td>
          <input class="input" type="text" name="7code">
        </td>
      </tr>
      <tr>
        <td>
          <input id="8select" class="checkbox" type="checkbox" name="8select">
          <label class="checkbox-label" for="8select">Pd. 8</label>
        </td>
        <td>
          <input class="input" type="text" name="8name">
        </td>
        <td>
          <input class="input" type="text" name="8code">
        </td>
      </tr>
      <tr>
        <td>
          <input id="9select" class="checkbox" type="checkbox" name="9select">
          <label class="checkbox-label" for="9select">Pd. 9</label>
        </td>
        <td>
          <input class="input" type="text" name="9name">
        </td>
        <td>
          <input class="input" type="text" name="9code">
        </td>
      </tr>
      <tr>
        <td>
          <input id="10select" class="checkbox" type="checkbox" name="10select">
          <label class="checkbox-label" for="10select">Pd. 10</label>
        </td>
        <td>
          <input class="input" type="text" name="10name">
        </td>
        <td>
          <input class="input" type="text" name="10code">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="type-box">
    <button id="submit" class="btn submit form-submit-ajax">Submit</button>
  </div>
</form>
{{/yield-content}}

{{#yield-scripts}}
  <script src="../../lib/foreach.js"></script>
  <script src="../../lib/ajax.js"></script>
  <!-- <script src="../../lib/pdf.js"></script> -->
  <script src="../../js/pikaday.js"></script>
  <script src="../../js/earlyexcuse.js"></script>
{{/yield-scripts}}
