<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Absence Note</title>
    {{{yield-styles}}}
    {{{yield-libs}}}
  </head>
  <body>
    {{#yield-header}}
    <div class="title-container">
      <a class="title-link" href="/">
        <h1 class="title">Stuyvesant High School</h1>
        <br>
        <h3 class="subtitle">Online Absence Note System</h3>
      </a>
    </div>
    {{/yield-header}}
    {{#yield-user}}
    <div class="logout">
      <a href="https://accounts.google.com/Logout">Google Logout</a>
      <a href="/logout">Logout</a>
    </div>
    {{/yield-user}}
    {{{yield-content}}}
  </body>
  {{{yield-scripts}}}
</html>
