{{#yield-libs}}
<script src="js/lib/foreach.js"></script>
<script src="js/lib/ajax.js"></script>
{{/yield-libs}}

{{#yield-content}}
<h1> Login! </h1>
<form class="login-form">
  <div class="login-message"></div>
  <label for="username">Username:</label>
  <input type="text" name="username" />
  <br />
  <label for "password">Password:</label>
  <input type="password" name="password" />
  <br />
  <input type="submit" class="form-submit-ajax"/>
</form>

<h1>Register</h1>
<form class="register-form">
  <div class="register-message"></div>
  <label for="username">Username:</label>
  <input type="text" name="username" />
  <br />
  <label for="password">Password:</label>
  <input type="password" name="password" />
  <br />
  <label for="email">Email:</label>
  <input type="email" name="email" /><br />
  <input type="submit" class="form-submit-ajax"/>
</form>
{{/yield-content}}

{{#yield-endscripts}}
<script src="js/authforms.js"></script>
{{/yield-endscripts}}
