{{#yield-styles}}
<link type="text/css" href="../style/css/masterearlyexcuse.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}

<h1 class="note title">Pending Early Excuses</h1>

<table class="absence-notes">
  <thead>
    <tr class="absence-header">
      <th>Date</th>
      <th>Name</th>
      <th>Osis</th>
      <th>Homeroom</th>
      <th>Periods</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="/">6/6/2016</a>
      </td>
      <td>
        Kevin Yan
      </td>
      <td>
        205440076
      </td>
      <td>
        7XX
      </td>
      <td>
        5-10
      </td>
      <td class="options">
        <a href="#" class="approve">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </a>
        <a href="#" class="deny">
          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

{{/yield-content}}

{{#yield-scripts}}
{{/yield-scripts}}
