{{#yield-styles}}
<link type="text/css" href="../style/css/masterabsence.css" rel="stylesheet">
<link rel="stylesheet" href="../style/css/font-awesome.min.css">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-content}}

<h1 class="note title">Pending Absences</h1>

<table class="absence-notes">
  <thead>
    <tr class="absence-header">
      <th>Date</th>
      <th>Name</th>
      <th>OSIS</th>
      <th>Homeroom</th>
      <th>Periods</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        5/27/2016
      </td>
      <td>
        Roy Xu
      </td>
      <td>
        210283021
      </td>
      <td>
        7RR
      </td>
      <td>
        1-10
      </td>
      <td class="options">
        <a href="#" class="approve">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </a>
        <a href="#" class="deny">
          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>


{{/yield-content}}
