{{#yield-styles}}
<link type="text/css" href="../style/css/history.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}

<h1 class="note title">History</h1>

<table class="absence-notes">
  <thead>
    <tr class="absence-header">
      <th>Student</th>
      <th>Date</th>
      <th>Type</th>
      <th>Periods</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="/">Roy Xu</a>
      </td>
      <td>
        5/27/2016
      </td>
      <td>
        Absence Note
      </td>
      <td>
        1-10
      </td>
      <td>
        Pending
      </td>
    </tr>
  </tbody>
</table>

{{/yield-content}}

{{#yield-scripts}}
<script src="../../js/history.js"></script>
{{/yield-scripts}}
