{{#yield-styles}}
<link type="text/css" href="../style/css/profile.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}

<h1 class="note title">Profile</h1>

<h1 class="category name">Roy Xu</h1>

<div class="info">
  <div class="info-line">
    <h2 class="category-title">Student OSIS</h2>
    <h2 class="category-title">Student Homeroom</h2>
    <h3 id="osis" class="category variable">
      210961116
    </h3>
    <h3 id="homeroom" class="category variable">
      7RR
    </h3>
  </div>

  <div class="info-line">
    <h2 class="category-title">Student Email</h2>
    <h2 class="category-title">Student Phone</h2>
    <h3 id="email" class="category constant">
      rxu2@stuy.edu
    </h3>
    <h3 id="phone" class="category variable">
      347-932-8647
    </h3>
  </div>

  <div class="info-line">
    <h2 class="category-title">Guardian Name</h2>
    <h2 class="category-title">Guardian Relationship</h2>
    <h3 id="parent-name" class="category variable">
      Chang Zhao Xu
    </h3>
    <h3 id="parent-status" class="category variable">
      Father
    </h3>
  </div>

  <div class="info-line">
    <h2 class="category-title">Parent Email</h2>
    <h2 class="category-title">Parent Phone</h2>
    <h3 id="parent-email" class="category variable">
      changxu123@gmail.com
    </h3>
    <h3 id="parent-phone" class="category variable">
      347-932-8346
    </h3>
  </div>
</div>

<table class="courses">
  <thead>
    <tr>
      <td></td>
      <td class="table-head">Teacher's Name</td>
      <td class="table-head">Course Code</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Pd. 1
      </td>
      <td>
        <input class="input" type="text" name="1name">
      </td>
      <td>
        <input class="input" type="text" name="1code">
      </td>
    </tr>
    <tr>
      <td>
        Pd. 2
      </td>
      <td>
        <input class="input" type="text" name="2name">
      </td>
      <td>
        <input class="input" type="text" name="2code">
      </td>
    </tr>
    <tr>
      <td>
        Pd. 3
      </td>
      <td>
        <input class="input" type="text" name="3name">
      </td>
      <td>
        <input class="input" type="text" name="3code">
      </td>
    </tr>
    <tr>
      <td>
        Pd. 4
      </td>
      <td>
        <input class="input" type="text" name="4name">
      </td>
      <td>
        <input class="input" type="text" name="4code">
      </td>
    </tr>
    <tr>
      <td>
        Pd. 5
      </td>
      <td>
        <input class="input" type="text" name="5name">
      </td>
      <td>
        <input class="input" type="text" name="5code">
      </td>
    </tr>
    <tr>
      <td>
        Pd. 6
      </td>
      <td>
        <input class="input" type="text" name="6name">
      </td>
      <td>
        <input class="input" type="text" name="6code">
      </td>
    </tr>
    <tr>
      <td>
        Pd. 7
      </td>
      <td>
        <input class="input" type="text" name="7name">
      </td>
      <td>
        <input class="input" type="text" name="7code">
      </td>
    </tr>
    <tr>
      <td>
        Pd. 8
      </td>
      <td>
        <input class="input" type="text" name="8name">
      </td>
      <td>
        <input class="input" type="text" name="8code">
      </td>
    </tr>
    <tr>
      <td>
        Pd. 9
      </td>
      <td>
        <input class="input" type="text" name="9name">
      </td>
      <td>
        <input class="input" type="text" name="9code">
      </td>
    </tr>
    <tr>
      <td>
        Pd. 10
      </td>
      <td>
        <input class="input" type="text" name="10name">
      </td>
      <td>
        <input class="input" type="text" name="10code">
      </td>
    </tr>
  </tbody>
</table>

{{/yield-content}}
