{{#yield-styles}}
<link type="text/css" href="../../style/css/absence.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}
<h1 class="note title">Absence Note</h1>
<div class="form-entry">
  <h3 class="label">Type</h3>
</div>

<div class="form-entry">
  <h3 class="label">Date of Absence, Lateness, or Cut</h3>
</div>

<div class="form-entry">
  <h3 class="label">Explanation</h3>
</div>

<h3 class="label">Classes</h3>

<table class="courses">
  <thead>
    <tr>
      <td></td>
      <td class="table-head">Teacher's Name</td>
      <td class="table-head">Course Code</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input id="1select" class="checkbox" type="checkbox" name="1select">
        <label class="checkbox-label" for="1select">Pd. 1</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <input id="2select" class="checkbox" type="checkbox" name="2select">
        <label class="checkbox-label" for="2select">Pd. 2</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <input id="3select" class="checkbox" type="checkbox" name="3select">
        <label class="checkbox-label" for="3select">Pd. 3</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <input id="4select" class="checkbox" type="checkbox" name="4select">
        <label class="checkbox-label" for="4select">Pd. 4</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <input id="5select" class="checkbox" type="checkbox" name="5select">
        <label class="checkbox-label" for="5select">Pd. 5</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <input id="6select" class="checkbox" type="checkbox" name="6select">
        <label class="checkbox-label" for="6select">Pd. 6</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <input id="7select" class="checkbox" type="checkbox" name="7select">
        <label class="checkbox-label" for="7select">Pd. 7</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <input id="8select" class="checkbox" type="checkbox" name="8select">
        <label class="checkbox-label" for="8select">Pd. 8</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <input id="9select" class="checkbox" type="checkbox" name="9select">
        <label class="checkbox-label" for="9select">Pd. 9</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <input id="10select" class="checkbox" type="checkbox" name="10select">
        <label class="checkbox-label" for="10select">Pd. 10</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>
<div class="type-box">
  <button id="pdf" class="btn submit form-create-pdf">Print PDF</button>
</div>
{{/yield-content}}
