{{#yield-styles}}
<link type="text/css" href="../../style/css/absence.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}
<form id="form-main">
  <h1 class="note title">Absence Note</h1>
  <div class="form-entry">
    <h3 class="label">Type</h3>
  </div>

  <div class="form-entry">
    <h3 class="label">Date of Absence, Lateness, or Cut</h3>
  </div>

  <div class="form-entry">
    <h3 class="label">Explanation</h3>
  </div>

  <h3 class="label">Classes</h3>

  <table class="courses">
    <thead>
      <tr>
        <td></td>
        <td class="table-head">Teacher's Name</td>
        <td class="table-head">Course Code</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Pd. 1
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="2select"> Pd. 2
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="3select"> Pd. 3
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="4select"> Pd. 4
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="5select"> Pd. 5
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="6select"> Pd. 6
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="7select"> Pd. 7
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="8select"> Pd. 8
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="9select"> Pd. 9
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <input class="checkbox" type="checkbox" name="10select"> Pd. 10
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
    </tbody>
  </table>
</form>
{{/yield-content}}
