{{#yield-styles}}
<link type="text/css" href="../style/css/history.css" rel="stylesheet">
<link rel="stylesheet" href="../style/css/font-awesome.min.css">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}

<h1 class="note title">History</h1>
<h3 id="response" class="response"></h3>
<table class="absence-notes">
  <thead>
    <tr class="absence-header">
      <th>Student</th>
      <th>Date</th>
      <th>Type</th>
      <th>Period</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    {{#pending_reqs}}
    <tr class="tablerow">
      <td class="tablelink">
        {{{id}}}
        <a href="/teacher/note/{{{kind}}}/{{{id}}}">{{{student}}}</a>
      </td>
      <td class="tablelink">
        {{{formatted_date}}}
      </td>
      <td class="tablelink">
        {{{kind}}} Note
      </td>
      <td class="tablelink">
        {{{corresponding_pd.Period}}}
      </td>
      <td class="options">
        <i id="{{{_id}}}" class="fa fa-check-circle-o approve" aria-hidden="true"></i>
        <i id="{{{_id}}}" class="fa fa-times-circle-o deny" aria-hidden="true"></i>
      </td>
    </tr>
    {{/pending_reqs}}
  </tbody>
</table>

{{/yield-content}}

{{#yield-scripts}}
<script src="../../lib/foreach.js"></script>
<script src="../../lib/ajax.js"></script>
<script src="../../js/history.js"></script>
<script src="../../js/teacher_approve.js"></script>
{{/yield-scripts}}
