{{#yield-styles}}
<link type="text/css" href="../../style/css/absence.css" rel="stylesheet">
<link type="text/css" href="../../style/css/font-awesome.min.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}
<h1 class="note title">Absence Note</h1>
<div class="form-entry">
  <h3 class="label">Name</h3>
  <h3 class="info">{{{absence.student}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">OSIS</h3>
  <h3 class="info">{{{absence.OSIS}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Homeroom</h3>
  <h3 class="info">{{{absence.homeroom}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Type</h3>
  <h3 class="info">{{{absence.excused}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Date of Absence, Lateness, or Cut</h3>
  <h3 class="info">{{{absence.formatted_date}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Explanation</h3>
  <h3 class="info">{{{absence.excuse}}}</h3>
</div>
<div class="form-entry">
  <h3 class="label">Parent</h3>
  <h3 class="info">
    {{{absence.parent.email}}}
  </h3>
</div>

<h3 class="label">Classes</h3>
<table class="courses space-{{{absence.approved}}}">
  <thead>
    <tr>
      <td></td>
      <td class="table-head">Teacher's Name</td>
      <td class="table-head">Course Code</td>
      <td class="table-head">Status</td>
    </tr>
  </thead>
  <tbody>
    {{#absence.schedule}}
    <tr class="table-period">
      <td>
        <label class="checkbox-label" for="{{{period}}}select">Pd. {{{Period}}}</label>
      </td>
      <td class="teacher-name">
        <div>
          {{{Teacher}}}
        </div>
      </td>
      <td class="teacher-code">
        <div>
          {{{Course Code}}}
        </div>
      </td>
      <td>
        <i class="fa fa-{{{approved}}}" aria-hidden="true"></i>
      </td>
    </tr>
    {{/absence.schedule}}
  </tbody>
</table>
<h3 id="response" class="response show-{{{absence.approved}}}"></h3>
<div class="type-box show-{{{absence.approved}}}">
  <button id="{{{absence._id}}}" class="btn submit approve">Approve</button>
  <button id="{{{absence._id}}}" class="btn deny">Deny</button>
</div>
{{/yield-content}}

{{#yield-scripts}}
<script src="../../lib/ajax.js"></script>
<script src="../../lib/foreach.js"></script>
<script src="../../js/admin_approve.js"></script>
{{/yield-scripts}}
