{{#yield-styles}}
<link type="text/css" href="../../style/css/absence.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}
<h1 class="note title">Absence Note</h1>
<div class="form-entry">
  <h3 class="label">Name</h3>
  <h3 class="info">Roy Xu</h3>
</div>

<div class="form-entry">
  <h3 class="label">OSIS</h3>
  <h3 class="info">210961116</h3>
</div>

<div class="form-entry">
  <h3 class="label">Homeroom</h3>
  <h3 class="info">7RR</h3>
</div>

<div class="form-entry">
  <h3 class="label">Type</h3>
  <h3 class="info">Correction</h3>
</div>

<div class="form-entry">
  <h3 class="label">Date of Absence, Lateness, or Cut</h3>
  <h3 class="info">5/16/16</h3>
</div>

<div class="form-entry">
  <h3 class="label">Explanation</h3>
  <h3 class="info">Was Sick</h3>
</div>
<div class="form-entry">
  <h3 class="label">Parent</h3>
  <h3 class="info">
    xu.chang123@yahoo.com
  </h3>
</div>

<h3 class="label">Classes</h3>

<table class="courses">
  <thead>
    <tr>
      <td></td>
      <td class="table-head">Teacher's Name</td>
      <td class="table-head">Course Code</td>
      <td class="table-head">Status</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <label class="checkbox-label" for="1select">Pd. 1</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="2select">Pd. 2</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="3select">Pd. 3</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="4select">Pd. 4</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="5select">Pd. 5</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="6select">Pd. 6</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="7select">Pd. 7</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="8select">Pd. 8</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="9select">Pd. 9</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="10select">Pd. 10</label>
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>
{{/yield-content}}

