@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Regular.otf');
}

$font: 'Montserrat';

$text: #fff;
$underline: #d2d2d2;

$button-text: #fff;
$button-border: #e6e6e6;

$button-shadow1: rgba(0, 0, 0, .2);
$button-shadow2: rgba(0, 0, 0, .19);

body {
  font-family: $font;
  margin: 0;
}

button {
  font-family: $font;
}

input {
  font-family: $font;
}

textarea {
  font-family: $font;
}

.input {
  border: 0;
  border-bottom: 1px solid $underline;
  font-size: 20px;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.btn {
  border: 0;
  box-shadow: 0 2px 4px 0 $button-shadow1, 0 2px 6px 0 $button-shadow2;
  color: $button-text;
  text-align: center;
  transition-duration: .2s;

  &:hover {
    box-shadow: 0 5px 10px 0 $button-shadow1, 0 5px 15px 0 $button-shadow2;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.title-link {
  text-decoration: none;
}

.title-container {
  text-align: center;
}

.title {
  display: inline-block;
  margin: 20px 0 0;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 0;
}
