@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Regular.otf');
}

$font: 'Montserrat';

$text: #fff;
$text-black: #000;
$underline: #d2d2d2;

$button-text: #fff;
$button-border: #e6e6e6;

$button-shadow1: rgba(0, 0, 0, .2);
$button-shadow2: rgba(0, 0, 0, .19);

$check-border: #ddd;
$check-color: #41be4b;

body {
  font-family: $font;
  margin: 0;
}

button {
  font-family: $font;
}

input {
  font-family: $font;
}

textarea {
  font-family: $font;
}

.input {
  border: 0;
  border-bottom: 1px solid $underline;
  font-size: 20px;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.btn {
  border: 0;
  box-shadow: 0 2px 4px 0 $button-shadow1, 0 2px 6px 0 $button-shadow2;
  color: $button-text;
  text-align: center;
  transition-duration: .2s;

  &:hover {
    box-shadow: 0 5px 10px 0 $button-shadow1, 0 5px 15px 0 $button-shadow2;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.title-link {
  text-decoration: none;
}

.title-container {
  text-align: center;
}

.title {
  display: inline-block;
  margin: 20px 0 0;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 0;
}

.note {
  display: block;
  text-decoration: underline;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox,
.checkbox-label {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.checkbox-label {
  font-size: 16px;
  position: relative;
}

.checkbox + .checkbox-label:before {
  background: $text;
  border: 2px solid $check-border;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}

.checkbox:checked + .checkbox-label:before {
  background: $check-color;
  box-shadow: inset 0 0 0 4px $text;
}

.checkbox:focus + .checkbox-label {
  outline: 0;
}

.logout {
  color: $text-black;
  float: right;
  margin-right: 30px;
  margin-top: -70px;
  text-decoration: none;
}
