@import 'style';
$button-bg: #00b359;
$title: #000;
$textarea-bg: #fff;
$textarea-line: #ccc;

label {
  font-size: 22px;
}

.input {
  margin-top: 10px;
  width: 300px;
}

.title {
  color: $title;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.subtitle {
  color: $title;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.form-entry {
  font-size: 18px;
  margin: 10px auto;
  text-align: center;
  width: 600px;
}

.table-head {
  font-weight: bold;
  text-align: center;
}

.courses {
  margin: 50px auto 0;
}

.radio-boxes {
  margin-bottom: 30px;
}

.btn {
  background-color: $button-bg;
  display: block;
  font-size: 20px;
  height: 40px;
  margin: 40px auto 60px;
  width: 200px;
}

.explanation {
  background-image: linear-gradient($textarea-bg, $textarea-bg 30px, $textarea-line 30px, $textarea-line 31px, $textarea-bg 31px);
  background-size: 100% 31px;
  border: 0;
  height: 180px;
  line-height: 31px;
  resize: none;
  width: 100%;
}

.explanation:focus {
  outline: none;
}
