@import 'style';
$button-bg: #41be4b;
$button-bg1: #d36165;
$title: #000;
$textarea-bg: #fff;
$textarea-line: #ccc;
$label-underline: #d3d3d3;

label {
  font-size: 22px;
}

.input {
  margin-top: 20px;
  width: 300px;
}

.title {
  color: $title;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.logout {
  color: $text;
  float: right;
  margin-right: 30px;
  margin-top: -100px;
  text-decoration: none;
}

.subtitle {
  color: $title;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.form-entry {
  font-size: 18px;
  margin: 10px auto;
  text-align: center;
  width: 600px;
}

.table-head {
  font-weight: bold;
  text-align: center;
}

.courses {
  margin: 10px auto 0;
}

.table-container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.radio-boxes {
  margin-bottom: 30px;
}

.submit {
  background-color: $button-bg;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  margin: 40px auto 60px;
  width: 200px;
}

.explanation {
  background-image: linear-gradient($textarea-bg, $textarea-bg 30px, $textarea-line 30px, $textarea-line 31px, $textarea-bg 31px);
  background-size: 100% 31px;
  border: 0;
  font-size: 16px;
  height: 180px;
  line-height: 31px;
  margin-top: 10px;
  padding: 3px;
  resize: none;
  width: 80%;
}

.explanation:focus {
  outline: none;
}

//TEST

.label {
  border-bottom: 1px solid $label-underline;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: left;
  width: 600px;
}

.excusemestopreading {
  background-color: $button-bg1;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  margin: 0 30px;
  width: 150px;
}

.type-box {
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}
