@import 'style';
$title: #000;
$category-underline: #d3d3d3;
$edit-bg: #d36165;
$save-bg: #35a43e;
$edit-text: #fff;
$button-bg: #41be4b;
$error: #f00;
$success: #1d8a1d;

.title {
  color: $title;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.subtitle {
  color: $title;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.category {
  border-bottom: 1px solid $category-underline;
  font-size: 18px;
  font-weight: normal;
}

.name {
  font-size: 28px;
  margin: 20px auto 0;
  padding: 0 10px;
  width: 800px;
}

.info-line {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 800px;

  .category {
    margin: 30px 20px;
    text-align: center;
    width: 360px;
  }

  .category-title {
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
    width: 400px;
  }

  .fa-pencil {
    background-color: $edit-bg;
    border-radius: 50px;
    color: $edit-text;
    cursor: pointer;
    float: right;
    height: 19px;
    margin-bottom: 2px;
    padding: 4px 3px 3px 4px;
    width: 19px;
  }

  .fa-floppy-o {
    background-color: $save-bg;
    border-radius: 50px;
    color: $edit-text;
    cursor: pointer;
    float: right;
    height: 19px;
    margin-bottom: 2px;
    padding: 4px 3px 3px 4px;
    width: 19px;
  }
}

.courses {
  margin: 0 auto 30px;

  .table-head {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 300px;
  }

  td {
    text-align: center;

    input {
      width: 280px;
    }
  }

  .course-period {
    font-size: 20px;
  }

  tr {
    height: 50px;
  }
}

.course-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.save-text {
  border-bottom: 0;
  text-align: center;
  width: 320px;
}

.submit {
  background-color: $button-bg;
  display: block;
  font-size: 20px;
  height: 50px;
  margin: 40px auto 60px;
  width: 200px;
}

.teacher {
  padding-left: 5px;

  div,
  input {
    font-family: 'Montserrat' !important;
    font-size: 20px !important;
  }

  b {
    line-height: 40px;
  }
}

.error {
  color: $error;
  font-size: 18px;
  text-align: center;
}

.code {
  padding: 0;
}

.success {
  color: $success;
  font-size: 18px;
  margin: 0;
  text-align: center;
}
