@import 'style';
$title: #000;
$category-underline: #d3d3d3;

.title {
  color: $title;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.subtitle {
  color: $title;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.category {
  border-bottom: 1px solid $category-underline;
}

.name {
  font-size: 28px;
  margin: 20px auto 0;
  padding: 0 10px;
  width: 800px;
}

.info-line {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 800px;

  .category {
    margin: 30px 20px;
    text-align: center;
    width: 360px;
  }

  .category-title {
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
    width: 400px;
  }
}

.courses {
  margin: 0 auto;
}
