@import 'style';
$title: #000;

.title {
  color: $title;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.logout {
  color: $text;
  float: right;
  margin-right: 30px;
  margin-top: -100px;
  text-decoration: none;
}

.subtitle {
  color: $title;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
