{{#yield-styles}}
<link type="text/css" href="../../style/css/absence.css" rel="stylesheet">
<link type="text/css" href="../../style/css/font-awesome.min.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}
<h1 class="note title">Absence Note</h1>
<div class="form-entry">
  <h3 class="label">Name</h3>
  <h3 class="info">{{{absence.student}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">OSIS</h3>
  <h3 class="info">{{{absence.student}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Homeroom</h3>
  <h3 class="info">{{{absence.homeroom}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Type</h3>
  <h3 class="info">{{{absence.excused}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Date of Absence, Lateness, or Cut</h3>
  <h3 class="info">{{{absence.excused_date}}}</h3>
</div>

<div class="form-entry">
  <h3 class="label">Explanation</h3>
  <h3 class="info">{{{absence.excuse}}}</h3>
</div>
<div class="form-entry">
  <h3 class="label">Parent</h3>
  <h3 class="info">
    {{{parent.name}}} {{{parent.email}}} {{{parent.phone}}}
    <i class="fa fa-times" aria-hidden="true"></i>
    <i class="fa fa-check" aria-hidden="true"></i>
  </h3>
</div>

<h3 class="label">Classes</h3>

<table class="courses">
  <thead>
    <tr>
      <td></td>
      <td class="table-head">Teacher's Name</td>
      <td class="table-head">Course Code</td>
      <td class="table-head">Status</td>
    </tr>
  </thead>
  <tbody>
    {{{#schedule}}}
    <tr>
      <td>
        <label class="checkbox-label" for="select">Pd. {{{Period}}}</label>
      </td>
    </tr>
    {{{/schedule}}}

    <tr>
      <td>
        <label class="checkbox-label" for="1select">Pd. 1</label>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="2select">Pd. 2</label>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="3select">Pd. 3</label>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="4select">Pd. 4</label>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="5select">Pd. 5</label>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="6select">Pd. 6</label>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="7select">Pd. 7</label>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="8select">Pd. 8</label>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="9select">Pd. 9</label>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label" for="10select">Pd. 10</label>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>
        <i class="fa fa-times" aria-hidden="true"></i>
      </td>
    </tr>
  </tbody>
</table>
<div class="type-box">
  <button id="approve" class="btn submit form-submit-ajax">Approve</button>
  <button id="deny" class="btn deny form-submit-ajax">Deny</button>
</div>
{{/yield-content}}

{{#yield-scripts}}
<script src="../../js/admin_approve.js"></script>
{{/yield-scripts}}
