{{#yield-styles}}
<link type="text/css" href="../style/css/history.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}


<h1 class="note title">History</h1>

<table class="absence-notes">
  <thead>
    <tr class="absence-header">
      <th>Date</th>
      <th>Type</th>
      <th>Periods</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#notes}}
    {{{schedule}}}
    <tr class="tablerow">
      <td class="tablelink">
        <a href="/student/{{{kind}}}/{{{_id}}}">{{{formatted_date}}}</a>
      </td>
      <td class="tablelink">
        {{{kind}}} Note
      </td>
      <td class="tablelink">
        {{#schedule}}{{{Period}}}&nbsp  {{/schedule}}
      </td>
      <td class="tablelink">
      </td>
    </tr>
    {{/notes}}
  </tbody>
</table>

{{/yield-content}}

{{#yield-scripts}}
<script src="../../js/history.js"></script>
{{/yield-scripts}}
