{{#yield-styles}}
<link type="text/css" href="../style/css/history.css" rel="stylesheet">
{{/yield-styles}}

{{#yield-header}}
{{/yield-header}}

{{#yield-user}}
{{/yield-user}}

{{#yield-content}}

{{{note}}}

<h1 class="note title">History</h1>

<table class="absence-notes">
  <thead>
    <tr class="absence-header">
      <th>Date</th>
      <th>Type</th>
      <th>Periods</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tablerow">
      <td class="tablelink">
        <a href="/">5/27/2016</a>
      </td>
      <td class="tablelink">
        Absence Note
      </td>
      <td class="tablelink">
        1-10
      </td>
      <td class="tablelink">
        Pending
      </td>
    </tr>
  </tbody>
</table>

{{/yield-content}}

{{#yield-scripts}}
<script src="../../js/history.js"></script>
{{/yield-scripts}}
