@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Regular.otf"); }

body {
  font-family: "Montserrat";
  margin: 0; }

button {
  font-family: "Montserrat"; }

input {
  font-family: "Montserrat"; }

textarea {
  font-family: "Montserrat"; }

.input {
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  font-size: 20px;
  text-align: center; }
  .input:focus {
    outline: none; }

.btn {
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  text-align: center;
  transition-duration: .2s; }
  .btn:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer; }
  .btn:focus {
    outline: none; }

.title-link {
  text-decoration: none; }

.title-container {
  text-align: center; }

.title {
  display: inline-block;
  margin: 20px 0 0; }

.subtitle {
  display: inline-block;
  margin: 5px 0 0; }

.note {
  display: block;
  text-decoration: underline; }

.checkbox {
  opacity: 0;
  position: absolute; }

.checkbox,
.checkbox-label {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  vertical-align: middle; }

.checkbox-label {
  font-size: 16px;
  position: relative; }

.checkbox + .checkbox-label:before {
  background: #fff;
  border: 2px solid #ddd;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 16px; }

.checkbox:checked + .checkbox-label:before {
  background: #41be4b;
  box-shadow: inset 0 0 0 4px #fff; }

.checkbox:focus + .checkbox-label {
  outline: 0; }

.logout {
  color: #000;
  float: right;
  margin-right: 30px;
  margin-top: -70px;
  text-decoration: none; }

label {
  font-size: 22px; }

.input {
  margin-top: 20px;
  width: 300px; }

.title {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center; }

.subtitle {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

.form-entry {
  font-size: 18px;
  margin: 10px auto;
  text-align: center;
  width: 600px; }

.table-head {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  text-align: center; }

.courses {
  border-spacing: 0 1px;
  margin: 10px auto 0; }

.table-container {
  margin-left: auto;
  margin-right: auto;
  width: 600px; }

.radio-boxes {
  margin-bottom: 30px; }

.submit {
  background-color: #41be4b;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  margin: 40px auto 60px;
  width: 200px; }

.deny {
  background-color: #d36165;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  margin: 40px auto 60px;
  width: 200px; }

.explanation {
  background-image: linear-gradient(#fff, #fff 30px, #ccc 30px, #ccc 31px, #fff 31px);
  background-size: 100% 31px;
  border: 0;
  font-size: 16px;
  height: 180px;
  line-height: 31px;
  margin-top: 10px;
  padding: 3px;
  resize: none;
  width: 80%; }

.explanation:focus {
  outline: none; }

.label {
  border-bottom: 1px solid #d2d2d2;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: left;
  width: 600px; }

.excusemestopreading {
  background-color: #888;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  margin: 0 30px;
  width: 150px; }
  .excusemestopreading:hover {
    background-color: #d36165; }

.clicked {
  background-color: #d36165; }

.type-box {
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center; }

.correction-options {
  display: none; }
  .correction-options button {
    margin: 0 10px; }

.excused-options {
  display: none; }

.fa-calendar {
  cursor: pointer; }

.fa-times {
  color: #d36165;
  font-size: 30px !important;
  margin-left: 10px; }

.fa-check {
  color: #41be4b;
  font-size: 30px !important;
  margin-left: 10px; }

.error {
  color: #f00;
  font-size: 18px;
  text-align: center; }

.teacher-name {
  font-size: 18px;
  text-align: center;
  width: 300px; }
  .teacher-name div {
    border-bottom: 1px solid #d2d2d2;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    width: 280px; }

.teacher-code {
  font-size: 18px;
  text-align: center;
  width: 200px; }
  .teacher-code div {
    border-bottom: 1px solid #d2d2d2;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    width: 180px; }

.unchecked {
  background-color: #d2d2d2; }

.show-true {
  display: none; }

.space-true {
  margin-bottom: 30px; }

.response {
  color: #41be4b;
  font-size: 18px;
  text-align: center; }
