@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Regular.otf"); }

body {
  font-family: "Montserrat";
  margin: 0; }

button {
  font-family: "Montserrat"; }

input {
  font-family: "Montserrat"; }

textarea {
  font-family: "Montserrat"; }

.input {
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  font-size: 20px;
  text-align: center; }
  .input:focus {
    outline: none; }

.btn {
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  text-align: center;
  transition-duration: .2s; }
  .btn:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer; }
  .btn:focus {
    outline: none; }

.title-link {
  text-decoration: none; }

label {
  font-size: 22px; }

.input {
  margin-top: 10px;
  width: 300px; }

.title {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center; }

.logout {
  color: #fff;
  float: right;
  margin-right: 30px;
  margin-top: -100px;
  text-decoration: none; }

.subtitle {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

.form-entry {
  font-size: 18px;
  margin: 10px auto;
  text-align: center;
  width: 600px; }

.table-head {
  font-weight: bold;
  text-align: center; }

.courses {
  margin: 10px auto 0; }

.radio-boxes {
  margin-bottom: 30px; }

.submit {
  background-color: #71e27a;
  display: block;
  font-size: 20px;
  height: 40px;
  margin: 40px auto 60px;
  width: 200px; }

.explanation {
  background-image: linear-gradient(#fff, #fff 30px, #ccc 30px, #ccc 31px, #fff 31px);
  background-size: 100% 31px;
  border: 0;
  font-size: 16px;
  height: 180px;
  line-height: 31px;
  padding: 3px;
  resize: none;
  width: 80%; }

.explanation:focus {
  outline: none; }

.label {
  border-bottom: 1px solid #d3d3d3;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: left; }

.excusemestopreading {
  background-color: #d36165;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  margin: 0 30px;
  width: 150px; }
