@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Regular.otf"); }

body {
  font-family: "Montserrat";
  margin: 0; }

button {
  font-family: "Montserrat"; }

input {
  font-family: "Montserrat"; }

textarea {
  font-family: "Montserrat"; }

.input {
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  font-size: 20px;
  text-align: center; }
  .input:focus {
    outline: none; }

.btn {
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  text-align: center;
  transition-duration: .2s; }
  .btn:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer; }
  .btn:focus {
    outline: none; }

.title-link {
  text-decoration: none; }

.title-container {
  text-align: center; }

.title {
  display: inline-block;
  margin: 20px 0 0; }

.subtitle {
  display: inline-block;
  margin: 5px 0 0; }

.note {
  display: block;
  text-decoration: underline; }

.checkbox {
  opacity: 0;
  position: absolute; }

.checkbox,
.checkbox-label {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  vertical-align: middle; }

.checkbox-label {
  font-size: 16px;
  position: relative; }

.checkbox + .checkbox-label:before {
  background: #fff;
  border: 2px solid #ddd;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 16px; }

.checkbox:checked + .checkbox-label:before {
  background: #41be4b;
  box-shadow: inset 0 0 0 4px #fff; }

.checkbox:focus + .checkbox-label {
  outline: 0; }

.logout {
  color: #000;
  float: right;
  margin-right: 30px;
  margin-top: -70px;
  text-decoration: none; }

.pdf {
  background-color: #41be4b;
  font-size: 20px;
  height: 50px;
  margin-bottom: 80px;
  width: 200px; }

.status-container {
  text-align: center !important; }

.title {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center; }

.subtitle {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

.category {
  border-bottom: 1px solid #d3d3d3;
  font-size: 18px;
  font-weight: normal; }

.name {
  font-size: 28px;
  margin: 20px auto 0;
  padding: 0 10px;
  width: 800px; }

.info-line {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 800px; }
  .info-line .category {
    margin: 30px 20px;
    text-align: center;
    width: 360px; }
  .info-line .category-title {
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
    width: 400px; }
  .info-line .fa-pencil {
    background-color: #d36165;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 19px;
    margin-bottom: 2px;
    padding: 4px 3px 3px 4px;
    width: 19px; }
  .info-line .fa-floppy-o {
    background-color: #35a43e;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 19px;
    margin-bottom: 2px;
    padding: 4px 3px 3px 4px;
    width: 19px; }

.courses {
  margin: 0 auto 30px; }
  .courses .table-head {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 300px; }
  .courses td {
    text-align: center; }
    .courses td input {
      width: 280px; }
  .courses .course-period {
    font-size: 20px; }
  .courses tr {
    height: 50px; }

.course-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center; }

.save-text {
  border-bottom: 0;
  text-align: center;
  width: 320px; }

.submit {
  background-color: #41be4b;
  display: block;
  font-size: 20px;
  height: 50px;
  margin: 40px auto 60px;
  width: 200px; }

.teacher {
  padding-left: 5px; }
  .teacher div,
  .teacher input {
    font-family: 'Montserrat' !important;
    font-size: 20px !important; }
  .teacher b {
    line-height: 40px; }

.error {
  color: #f00;
  font-size: 18px;
  text-align: center; }

.code {
  padding: 0; }

.success {
  color: #1d8a1d;
  font-size: 18px;
  margin: 0;
  text-align: center; }
